.nav{ background-color: #6BF0E8;
position:;
left: 50px;
}
a{
    color: black;
    font-size: large;
  margin-left: 150px;
}
.btn {
  margin-left: 60px;
background-color: #e62113;
}
.dropdown-item{
   
    float: right;
}
figure{display: inline;
    }
#logo2{
 
    margin-left: 250px;
}
a:hover{background-color: #e62113;
border-radius: 10px;
padding-top: 1px;
color: white
}
.d-flex{
  padding-top: 20px;
  margin: 10px;
}
#logo{
  padding-right: ;
}

