.bg-menu{ 
  
  background-color: #6BF0E8;
}
a{
    color: black;
    font-size: large;
  margin-left: 150px;
}
.btn {
  margin-left: 60px;
background-color: #e62113;
}
.dropdown-item{
    float: right;
}



a:hover{background-color: #e62113;
border-radius: 10px;
padding-top: 1px;
color: white
}
.d-flex{
  padding-top: 20px;
  margin: 10px;
}
.row{
  text-align: center;
}
 .dropdown-toggle{
  background-color: #e62113;
 border-radius: 10px;
 }
 .dropdown-item{
  float: left;
  background-color: white;
 }
img